name: Deploy Blazor WASM to GitHub Pages

on:
  push:
    branches: [ "main" ]

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    - name: Publish
      run: dotnet publish Client -c Release -o release

    - uses: actions/upload-pages-artifact@v3
      with:
        path: release/wwwroot

  deploy:
    needs: build
    runs-on: ubuntu-latest

    steps:
    - uses: actions/deploy-pages@v4
